//___________COLORS____________

$green: #4CAD3B;
$gray: #4D545A;
$black: #323232;

//___________VARIABLES___________






//___________FONTS____________


@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Regular.eot');
    src: local('Euclid Square Regular'), local('EuclidSquare-Regular'),
        url('fonts/EuclidSquare-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/EuclidSquare-Regular.woff2') format('woff2'),
        url('fonts/EuclidSquare-Regular.woff') format('woff'),
        url('fonts/EuclidSquare-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-SemiBold.eot');
    src: local('Euclid Square SemiBold'), local('EuclidSquare-SemiBold'),
        url('fonts/EuclidSquare-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/EuclidSquare-SemiBold.woff2') format('woff2'),
        url('fonts/EuclidSquare-SemiBold.woff') format('woff'),
        url('fonts/EuclidSquare-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Medium.eot');
    src: local('Euclid Square Medium'), local('EuclidSquare-Medium'),
        url('fonts/EuclidSquare-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/EuclidSquare-Medium.woff2') format('woff2'),
        url('fonts/EuclidSquare-Medium.woff') format('woff'),
        url('fonts/EuclidSquare-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('fonts/EuclidSquare-Light.eot');
    src: local('Euclid Square Light'), local('EuclidSquare-Light'),
        url('fonts/EuclidSquare-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/EuclidSquare-Light.woff2') format('woff2'),
        url('fonts/EuclidSquare-Light.woff') format('woff'),
        url('fonts/EuclidSquare-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

//___________MIXINS____________

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin centerInline {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

@mixin spaced {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin trans {
	transition: .6s all;
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absoluteCenterX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin absoluteCenterY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


@mixin fullImg {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}


//___________COMMOM____________


:root {
	font-size: 30px;
}

::-webkit-scrollbar {
	width: .5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #ddd;
}

::-webkit-scrollbar-thumb {
	background: $green;
}


ul,li {
	margin: 0;
	padding: 0;
	display: block;
}

a {
	transition: .3s all;
	outline: none;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

body {
	font-family: 'Euclid Square';
	font-size: 0.9rem;
	color: $black;
}


.container {
	padding: 0 13rem;
}


.chat {
	position: fixed;
	right: 4.5rem;
	bottom: 3.5rem;
	@include centerInline();
	width: 3.2rem;
	height: 3.2rem;
	z-index: 4;

	img {
		width: 100%;
	}
}

.btn {
	width: 12.65rem;
	height: 3rem;
	@include centerInline();
	font-size: 0.8rem;
	color: #fff;
	background: $green;

	&:hover {
		background: #fff;
		color: $green;
	}

	&-white {
		background: #fff;
		color: $green;
		border: 1px solid #fff;

		&:hover {
			background: $green;
			color: #fff;
		}
	}

	&-gray {
		background: $gray;

		&:hover {
			color: #fff;
			background: $green;
		}
	}
}


.section-title {
	font-weight: 500;
	font-size: 2.25rem;
	margin-bottom: 4.2rem;
	color: $green;
	position: relative;
	text-align: center;

	&::before {
		@include absoluteCenterX();
		content: '';
		width: 10rem;
		height: 1px;
		background: linear-gradient(90deg, rgba(76, 173, 59, 0) 0%, #4CAD3B 55.08%, rgba(76, 173, 59, 0) 100%);
		border-radius: 5rem;
		bottom: -1.25rem;
	}

	&-white {
		color: #fff;

		&::before {
			background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 55.08%, rgba(255, 255, 255, 0) 100%);
		}
	}
}


.arrows {
	@include absoluteCenterY();
	width: 100%;
	z-index: 3;
	pointer-events: none;

	span {
		@include centerInline();
		cursor: pointer;
		position: absolute;
		pointer-events: auto;

		img {
			width: 0.9rem;
			opacity: .8;
			@include trans();
			display: block;
		}

		&:hover img {
			opacity: 1;
		}

		&.arrow-left {
			left: 5rem;
		}
	
		&.arrow-right {
			right: 5rem;
		}
	}
	
}

.mobile-menu {
	display: none;
}


.page-head {
	height: 26.5rem;
	position: relative;
	@include center();

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			@include fullImg();
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		font-weight: 600;
		font-size: 3.5rem;
		color: #fff;
		text-align: center;
		line-height: 125%;
		margin-top: 2rem;

		&-single {
			font-size: 2.75rem;
		}
	}

	&__btn {
		position: absolute;
		bottom: 3.5rem;
		height: 3rem;
		width: 16.25rem;
		z-index: 2;
	}
}



//____________PRELOADER________


@keyframes loader {
	to {
		opacity: 1;
	}
}


.preloader {
	background: $green;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	@include center();

	&__logo {
		width: 15rem;
		opacity: 0;
		animation: loader 1.5s linear forwards;

		img {
			width: 100%;
			display: block;
		}
	}
}



//___________FEEDBACK________

.feedback {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	background: rgba(0, 0, 0, 0.5);
	display: none;

	&-content {
		@include absoluteCenter();
		background: #fff;
		padding: 2rem;
		width: 27rem;
		text-align: center;
	}


	&-done {
		text-align: center;
		display: none;

		.feedback {
			&__title {
				margin-bottom: 2.2rem;
			}

			&-form__btn {
				margin-bottom: 0;
			}

			&__info {
				margin-bottom: 2.5rem;
			}
		}
	}

	&__title {
		font-size: 1.4rem;
		color: $green;
		font-weight: 600;
		margin-bottom: 0.75rem;
	}

	&__text {
		margin-bottom: 1.6rem;
		font-size: 0.8rem;
	}

	&-form {
		&__input {
			position: relative;
			margin-bottom: 1rem;

			input {
				width: 100%;
				display: flex;
				align-items: center;
				border: none;
				outline: none;
				height: 2.6rem;
				background: #F5F5F5;
				padding: 0 1rem;
				font-size: 0.8rem;
				font-weight: 500;
			}
		}

		&__text {
			font-size: 0.7rem;
			text-align: left;
			margin-bottom: 1rem;
		}

		&__btn {
			@include centerInline();
			height: 3rem;
			width: 100%;
			color: #fff;
			background: $green;
			border: none;
			@include trans();
			margin-bottom: 1.2rem;

			&:hover {
				background: $gray;
			}
		}
	}

	&__info {
		font-size: 0.7rem;
	}

	&__img {
		margin-bottom: 2.2rem;

		img {
			display: inline-block;
			width: 8rem;
		}
	}
}



//_____________HEADER_________


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(12px);
	padding: 1.1rem 0;

	.container {
		@include spaced();
	}

	&__logo {
		width: 7.7rem;
		margin-right: 0;

		a {
			display: block;
			width: 100%;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&-menu {
		display: flex;
		font-size: 0.8rem;

		li {
			margin-right: 2.5rem;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: #fff;
				position: relative;

				&.current {
					color: $green;

					&::before {
						position: absolute;
						left: 0;
						top: -1.5rem;
						width: 100%;
						height: 0.1rem;
						background: $green;
						content: '';
						pointer-events: none;
					}
				}
				
				&:hover {
					color: $green;
				}
			}
		}


	}

	&-lang {
		position: relative;
	
		&:hover {
			.header-lang__list {
				display: block;
			}

			.header-lang__btn {
				svg {
					transform: rotate(180deg);
				}
			}
		}

		&__btn {
			padding-bottom: 1.5rem;
			margin-bottom: -1.5rem;
			color: #fff;
			display: flex;
			align-items: center;

			
			svg {
				width: .4rem;
				margin-left: 0.5rem;
			}

		}

		&__list {
			position: absolute;
			top: 1.5rem;
			left: -.5rem;
			width: 4rem;
			padding: 1rem;
			background: #fff;
			backdrop-filter: blur(5px);
			display: none;
			border-radius: .75rem;

			a {
				margin-bottom: 0.5rem;
				display: block;
				color: $green;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&-social {
		display: flex;
		gap: 1rem;

		a {
			display: inline-flex;

			&:hover {
				opacity: .7;
			}

			img {
				width: 1.4rem;
				display: block;
			}
		}
	}

	&__tel {
		color: #fff;
		display: flex;
		align-items: center;

		img {
			width: 0.95rem;
			margin-right: 0.5rem;
		}

		&:hover {
			color: $green;
		}
	}

	&-mobile {
		display: none;
	}

	&-submenu {
		position: relative;

		.submenu {
			position: relative;
			padding: 0.9rem;
			width: 14rem;
			background: #fff;
			position: absolute;
			font-size: 0.7rem;
			margin-top: 2.5rem;
			display: none;

			&::before {
				position: absolute;
				left: 3rem;
				width: 0;
				height: 0;
				content: '';
				top: -0.5rem;
				border-style: solid;
				border-width: 0 1rem 1rem 1rem;
				border-color: transparent transparent #fff transparent;
			}

			div {
				margin-bottom: 0.5rem;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				color: $black;

				&::before {
					content: '\2022';
					font-size: 0.6rem;
				}
			}
		}
	}
}



//____________MAIN_________

.main {
	position: relative;

	.owl-dots {
		display: flex;
		justify-content: center;
		@include absoluteCenterX();
		bottom: 2rem;

		.owl-dot {
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			border: .1rem solid transparent;
			position: relative;

			&::before {
				@include absoluteCenter();
				content: '';
				width: 0.25rem;
				height: 0.25rem;
				background: #fff;
				border-radius: 50%;
			}

			&.active {
				border-color: $green;

				&::before {
					width: 0.35rem;
					height: 0.35rem;
					background: $green;
				}
			}
		}
	}

	&-item {
		height: 40rem;
		position: relative;
		display: flex;
		align-items: flex-end;
		padding-bottom: 7rem;

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			content: '';
			background: linear-gradient(340deg, #16171A 0%, rgba(22, 23, 26, 0.00) 100%);
		}

		&__img {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;

			img {
				@include fullImg();
			}
		}

		&__title {
			max-width: 50rem;
			color: #fff;
			font-weight: 600;
			font-size: 3.5rem;
			line-height: 125%;
			margin-bottom: 2rem;
		}
	}

	&-btns {
		display: flex;
	}

	&__btn {
		width: 13rem;
		height: 3rem;
		font-size: 0.8rem;
		@include centerInline();
		border: .1rem solid #fff;
		color: #fff;
		margin-right: 1rem;
		position: relative;
		overflow: hidden;

		&:hover {
			background: $green;
			color: #fff;
			border-color: $green;
		}

	}
}



//_____________SERVICES_________


.services {
	position: relative;
	padding: 3.5rem 0 7rem;


	&-wrap {
		display: flex;
		align-items: flex-start;
	}

	&-side {
		width: 22.5rem;
		margin-right: 2rem;
		position: sticky;
		top: 6rem;
		padding: 0.5rem 2rem;
		background: #EEEEEE;
		flex-shrink: 0;

		&__item {
			position: relative;
			padding: 1rem 0.5rem;
			font-size: 1.05rem;
			font-weight: 600;
			color: #4D545A;

			&::after {
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: linear-gradient(90deg, rgba(76, 173, 59, 0.00) 0%, #4CAD3B 55.08%, rgba(76, 173, 59, 0.00) 100%);
				content: '';
				position: absolute;
			}

			&:last-child {
				&::after {
					content: none;
				}
			}
		}

		&__list {
			margin-top: 0.65rem;
			font-size: 0.8rem;
			font-weight: 400;

			li {
				&::before {
					content: '\2022';
					margin-right: 0.5rem;
				}

				a {
					color: $black;

					&:hover, &.current {
						color: $green;
					}
				}
			}
		}
	}

	&-main {
		width: calc(100% - 24.5rem);
		font-size: 0.8rem;

		&__head {
			margin-bottom: 2rem;

			p {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__content {
			line-height: 150%;
		}

		&__title {
			margin-bottom: 1rem;
			font-size: 1.4rem;
			font-weight: 600;
			color: $green;
		}

		&__desc {
			margin-bottom: 2rem;

			p {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__block {
			margin-bottom: 2rem;
		}

		&__item {
			margin-bottom: 2rem;

			&-title {
				margin-bottom: 1rem;
				font-size: 1.4rem;
				font-weight: 600;
				color: $green;
			}

			&-content {
				img {
					width: 100%;
					display: block;
				}

				ul {
		
					li {
						display: flex;
		
						&::before {
							content: '\2022';
							margin-right: 0.5rem;
						}
					}
				}
			}
		}

		&__btn {
			@include centerInline();
			padding: 1rem 1.6rem;
			border: 1px solid $green;
			background: $green;
			color: #fff;
			@include trans();
			margin-bottom: 2rem;

			&:hover {
				background: #fff;
				color: $green;
			}
		}
	}

	&__title {
		text-align: left;

		&::before {
			transform: none;
			left: 0;
		}
	}

	&-item {
		@include spaced();

		&__wrap {
			width: 38%;
		}

		&__img {
			width: 58%;
			height: 45rem;

			img {
				@include fullImg();
			}
		}
		
		&__title {
			font-size: 1.6rem;
			font-weight: 600;
			margin-bottom: 2rem;
		}

		&__text {
			line-height: 150%;
			margin-bottom: 4rem;
		}
	}

	&-page {
		padding: 7.5rem 0;
	}

	&-list {
		gap: 2rem;
		display: flex;
		flex-wrap: wrap;

		&__item {
			width: calc(33.33333% - 1.66666rem);
			overflow: hidden;
			background: #FFFFFF;
			position: relative;
			padding-bottom: 4.5rem;
			box-shadow: 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
		}

		&__img {
			height: 12.5rem;
			width: 100%;
			margin-bottom: 1.25rem;

			img {
				@include fullImg();
			}
		}

		&__wrap {
			padding: 0 1.5rem;
		}

		&__title {
			font-size: 1.05rem;
			font-weight: 600;
			margin-bottom: 1.15rem;
			position: relative;
		}

		&__name {
			text-transform: uppercase;
			font-weight: 500;
			color: $gray;
			margin-bottom: 1.5rem;
		}

		&__text {
			margin-bottom: 1.7rem;
			font-size: 0.8rem;
			line-height: 1.2rem;
		}

		&__btn {
			@include absoluteCenterX();
			border: 1px solid $green;
			bottom: 1.5rem;
			width: calc(100% - 3rem);
		}
	}
}



//____________AREA________


.area {
	position: relative;
	padding: 4rem 0 7rem;
	background: url(../img/area-pattern.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	
	&-item {
		&__img {
			height: 15rem;
			overflow: hidden;

			img {
				@include fullImg();
				@include trans();

				&:hover {
					transform: scale(1.1);
				}
			}
		}

		&__title {
			max-width: 17rem;
			height: 5.5rem;
			@include center();
			text-align: center;
			margin: -2.75rem auto 0;
			background: $green;
			position: relative;
			font-size: 1.05rem;
			font-weight: 500;
			padding: 0 2rem;
		}
	}

}


//_____________ADVANTAGES_________

.advantages {
	padding: 7.5rem 0;

	&__title {
		margin-bottom: 6rem;
	}

	&-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&-item {
		margin-right: 2rem;
		width: calc(33.33% - 1.3333rem);
		height: 12.2rem;
		background: url(../img/advantages/pattern.jpg) center center no-repeat;
		background-size: cover;
		color: #fff;
		position: relative;
		margin-bottom: 2rem;
		@include center();
		flex-direction: column;
		padding: 2rem;
		text-align: center;
		overflow: hidden;

		&:nth-child(2n) {
			background: $green;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		&__ico {
			margin-bottom: 1rem;

			img {
				height: 3.35rem;
				display: inline-block;
			}
		}

		&__title {
			font-size: 1.05rem;
			font-weight: 600;
			height: 2.7rem;
			padding: 0 2rem;
		}

	}
}



//_____________NUMBERS_________



.numbers {
	background: $gray;
	padding: 3.5rem 0 4rem;

	&-wrap {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		color: #fff;
		margin-bottom: 3.2rem;
	}

	&__text {
		font-size: 1.2rem;
		line-height: 150%;
		text-align: center;
		max-width: 44rem;
		margin: 0 auto 4.5rem;
		color: #fff;
	}

	&-item {
		width: 24%;
		position: relative;
		padding-left: 1.5rem;
		display: flex;
		align-items: flex-end;
		

		&::before {
			@include absoluteCenterY();
			left: 0;
			background: linear-gradient(0deg, rgba(76, 173, 59, 0) 0%, #4CAD3B 55.08%, rgba(76, 173, 59, 0) 100%);
			height: 7.5rem;
			width: 1px;
			content: '';
		}

		&__ico {
			width: 4.5rem;
			margin-right: 1rem;
			flex-shrink: 0;

			img {
				width: 100%;
				display: block;
			}
		}

		&__square {
			color: $green;
			font-size: 1.5rem;
			font-weight: 600;
		}

		&__name {
			color: #fff;
			font-weight: 300;
			height: 2.2rem;
		}
	}
}



//_____________PROJECTS_________

.projects {
	padding: 5rem 0;
	color: #fff;
	background: $green;
	position: relative;


	&-head {
		position: relative;
	}

	&-all {
		position: absolute;
		right: 0;
		top: 1rem;
		color: #fff;
		border-bottom: 1px solid #FFFFFF;

		&:hover {
			border-color: transparent;
		}
	}

	.arrows {
		transform: none;
		top: 25rem;
	}

	&-item {
		text-align: center;

		&__img {
			height: 19.5rem;
			margin-bottom: 1.7rem;
			overflow: hidden;

			img {
				@include fullImg();
				@include trans();

				&:hover {
					transform: scale(1.1);
				}
			}
		}

		&__name {
			font-weight: 600;
			font-size: 1.05rem;
			line-height: 1.3rem;
			max-width: 20rem;
			margin: 0 auto 1.7rem;
			@include ellipsis();
			-webkit-line-clamp: 2;
			height: 2.6rem;
		}
	}

	&-faq {
		margin-bottom: 5rem;

		&__item {
			margin-bottom: 1.25rem;
			background: #FFFFFF;
			border: 1px solid #ECECEC;
			box-shadow: 0px 0px .75rem rgba(0, 0, 0, 0.1);
			border-radius: .5rem;
			color: $black;
			padding: 1.2rem;

		}

		&__question {
			display: flex;
			align-items: flex-start;
			font-weight: 600;
			position: relative;
			font-size: 1.05rem;
			color: #4D545A;

			.green {
				color: $green;
				width: 1.8rem;
				flex-shrink: 0;
			}
		}


	}

	&-page {
		padding: 2.5rem 0 7.5rem;

		.projects {
			&-list {
				margin-bottom: 4.5rem;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&-item {
				width: calc(50% - 1rem);
				margin-bottom: 3rem;
				color: $green;

				&__btn {
					border: 1px solid $green;
				}
			}
		}
	}

	&-nav {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 2.5rem;
		gap: 1rem;

		li {
			box-shadow: 0px 20px 13px 0px rgba(0, 0, 0, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.04);
			width: calc(25% - .75rem);
			padding: 1rem 0;
			@include centerInline();
			color: $green;
			background: #fff;
			cursor: pointer;

			&.current {
				background: $green;
				color: #fff;
			}
		}
	}
}


//____________HOW_________


.how {
	padding: 7.5rem 0;
	background: url(../img/how-pattern.jpg) center center no-repeat;
	background-size: cover;
}


//____________GET_________


.get {
	padding-left: 3.5rem;
	background: $green;
	color: #fff;
	@include spaced();

	&__title {
		font-weight: 600;
		font-size: 1.05rem;
		margin-bottom: 2rem;
		line-height: 150%;
	}

	&-wrap {
		max-width: 35rem;
	}

	&__form {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		input {
			width: 60%;
			background: none;
			border: none;
			border-bottom: 1px solid #fff;
			color: #fff;
			font-size: 0.95rem;
			padding-bottom: 0.5rem;
			outline: none;

			&::placeholder {
				color: #fff;
			}
		}

		.btn {
			width: 35%;
		}
	}

	&__img {
		width: 26rem;
		flex-shrink: 0;

		img {
			width: 100%;
			display: block;
		}
	}
}


//_____________NEWS_________

.news {
	padding: 5.5rem 0 2.5rem;

	&-head {
		position: relative;
	}

	&-choose {
		@include absoluteCenterY();
		right: 0;
		display: flex;

		li {
			margin-right: 2rem;
			color: $green;
			cursor: pointer;

			&.current {
				font-weight: 600;
				border-bottom: .1rem solid $green;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-tab {
		display: none;

		&.current {
			display: block;
		}
	}

	&-item {
		margin-bottom: 4rem;
		background: #FFFFFF;
		box-shadow: 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
		height: 20rem;
		display: flex;


		&__img {
			width: 45%;
			height: 100%;

			img {
				@include fullImg();
			}
		}

		&__wrap {
			width: 55%;
			padding: 2rem 2.5rem .85rem;
			position: relative;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}

		&__title {
			font-size: 1.05rem;
			color: $green;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}

		&__text {
			font-size: 0.8rem;
			line-height: 125%;
			max-height: 8rem;
			overflow: hidden;
		}

		&__btn {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&__date {
			color: $black;
			font-weight: 400;

			strong {
				font-weight: 400;
			}
		}
	}

	&-page {
		padding: 3.5rem 0 8rem;
		
		.news-choose {
			position: static;
			justify-content: flex-end;
			margin-bottom: 4rem;
		}
	}
}



//____________CONTACT_________

.contact {
	background: $green;
	display: flex;
	align-items: stretch;

	&-main {
		color: #fff;
		display: flex;
		width: 50%;
		padding: 2.5rem 0;

		.container {
			padding-right: 4rem;
		}		

		.contact__text  {
			line-height: 137%;
			font-size: 0.8rem;
			margin-bottom: 2.2rem;

			a {
				color: #fff;
				font-weight: 700;
	
				&:hover {
					color: #fff;
					text-decoration: underline;
				}
			}
		}

		.get__form {
			flex-direction: column;
			align-items: flex-start;
			gap: 1.7rem;

			input {
				width: 22.5rem;
			}

			.btn {
				margin-top: 1rem;
				width: 14rem;
				height: 2.75rem;
			}
		}
	}

	&__title {
		text-align: left;
		margin-bottom: 1.5rem;

		&::before {
			content: none;
		}
	}

	
	&__map {
		width: 50%;

		#map {
			width: 100%;
			height: 100%;
		}
	}

	&-page {
		padding: 3rem 0 8rem;
		color: $gray;
		background: #fff;

		.projects-faq {
			margin-bottom: 4rem;

			&__question {
				color: $green;
			}

			&__answer {
				p {
					margin-bottom: 1rem;
				}

				ul {

					li {
						position: relative;
						padding-left: 1rem;

						&::before {
							width: 0.25rem;
							height: 0.25rem;
							background: $green;
							border-radius: 50%;
							content: '';
							left: 0;
							top: 0.5rem;
							display: inline-block;
							position: absolute;
						}
					}
				}
			}
		}

	}

	&-wrap {
		max-width: 54rem;
	}

	&-head {
		display: flex;
		gap: 2rem;
		margin-bottom: 2.5rem;

		li {
			width: 100%;
			@include centerInline();
			height: 4rem;
			background: #FFFFFF;
			font-weight: 500;
			font-size: 1rem;
			box-shadow: 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035);
			cursor: pointer;

			&.current {
				background: $green;
				color: #fff;
			}
		}
	}

	&-tab {
		display: none;

		&.current {
			display: block;
		}
	}

	&__text {
		line-height: 150%;
		margin-bottom: 4rem;

		p {
			margin-bottom: 1.5rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: $gray;
			font-weight: 600;

			&:hover {
				color: $green;
			}
		}
	}

	&-form {
		display: flex;
		flex-wrap: wrap;

		&__col {
			width: calc(60% - 1.5rem);
			margin-right: 1.5rem;

			&:nth-child(2) {
				width: 40%;
				margin-right: 0;
			}
		}

		&__input {
			position: relative;
			margin-bottom: 1.5rem;

			span {
				color: #C0C0C0;
				position: absolute;
				top: .95rem;
				left: 1rem;
				font-weight: 300;
				@include trans();
				padding: 0;
				border-radius: .5rem;
				display: inline-flex;
			}

			input {
				display: flex;
				align-items: center;
				padding: 1rem;
				height: 3rem;
				border: 1px solid #C0C0C0;
				width: 100%;
				border-radius: .5rem;
				color: $green;
				outline: none;

				&:focus, &:not(:placeholder-shown) {
					border-color: $green;

					& + span {
						font-size: 0.75rem;
						background: $green;
						padding: 0.3rem 1.5rem;
						color: #fff;
						left: 0;
						top: -0.8rem;
					}
				}
			}

		}

		&__select {
			margin-bottom: 1.5rem;
			
			.customSelect {
				
				&__option {
					font-size: 0.9rem;

					&--value {
						border-radius: .5rem;
						font-size: 0.9rem;
						display: flex;
						color: $gray;
						align-items: center;
						padding-left: 1rem;
						height: 3rem;
						border: 1px solid #C0C0C0 !important;
					}
				}

				&__dropdown {
					border-radius: .5rem;
					border: 1px solid #C0C0C0 !important;
				}
			}
		}

		&__file {
			input {
				display: none;
			}

			span {
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				height: 3rem;

				&:hover {
					color: $green;
				}

				img {
					width: 1.8rem;
					margin-right: 1rem;
				}
			}
		}

		&__message {
			margin-bottom: 1.5rem;
			position: relative;

			span {
				color: #C0C0C0;
				position: absolute;
				top: .95rem;
				left: 1rem;
				font-weight: 300;
				@include trans();
				padding: 0;
				border-radius: .5rem;
				display: inline-flex;
			}

			textarea {
				padding: 1rem;
				height: 12rem;
				border: 1px solid #C0C0C0;
				width: 100%;
				border-radius: .5rem;
				color: $green;
				outline: none;
				display: block;
				resize: none;

				&:focus, &:not(:placeholder-shown) {
					border-color: $green;

					& + span {
						font-size: 0.75rem;
						background: $green;
						padding: 0.3rem 1.5rem;
						color: #fff;
						left: 0;
						top: -0.8rem;
					}
				}
			}
		}

		&__btn {
			width: 16rem;
			border-radius: .5rem;
			@include trans();
			border: 1px solid $green;
		}
	}

	&__info {
		margin-bottom: 2.5rem;
	}

	&-done {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 9;
		display: none;

		&__title {
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 1.5rem;
			color: $green;
		}

		&__text {
			max-width: 20rem;
			margin-bottom: 2rem;

		}

		&__img {
			img {
				width: 5rem;
			}
		}

		&__wrap {
			@include absoluteCenter();
			background: #fff;
			padding: 3rem 2.5rem;
			border-radius: 1.6rem;
			background: #fff;
			text-align: center;
			box-shadow: 7px 7px 1.6rem rgba(54, 54, 54, 0.25);
		}
	}
}



//____________ABOUT_________

.about {
	padding: 6rem 0 7.5rem;

	&__title {
		text-align: left;

		&::before {
			transform: none;
			left: 0;
		}
	}

	&-info {
		margin-bottom: 7.5rem;

		.container {
			display: flex;
			align-items: flex-start;
			gap: 2rem;
		}

		&__text {
			position: relative;
			margin-bottom: 2rem;
			line-height: 150%;
			text-align: justify;
			font-size: 0.8rem;

			p {
				margin-bottom: 1.5rem;

				&:last-child {
					margin-bottom: 0;
				}
			}


		}

		&__author {
			line-height: 150%;
			font-weight: 600;
			font-size: 1.05rem;
			position: relative;
			padding-top: 1.6rem;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 22rem;
				height: 1px;
				background: $green;
			}
		}

		&__img {
			width: 30rem;
			flex-shrink: 0;
			position: relative;

			img {
				width: 100%;
				display: block;
				filter: drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
			}
		}

		&__partners {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			margin-bottom: 4.5rem;
		}

		&__partner {
			width: 10rem;
			height: 5.5rem;
			box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.02), 0px 20px 13px 0px rgba(0, 0, 0, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.04);

			img {
				@include fullImg();
				object-fit: contain;
			}
		}
	}

	&-provider {
		position: relative;
		margin-bottom: 3.5rem;

		&__item {
			padding: 1.2rem;
			background: #fff;
			box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.02), 0px 20px 13px 0px rgba(0, 0, 0, 0.04), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.04);
			display: block;
			height: 100%;
			font-size: 0.7rem;
			color: $black;
			line-height: 150%;
		}

		&__img {
			width: 8rem;
			height: 3rem;
			margin-bottom: 0.5rem;

			img {
				height: 100%;
				object-fit: contain;
			}
		}

		.owl-stage-outer {
			margin: -1rem;
			padding: 1rem 1rem 4rem;
		}

		.owl-stage {
			display: flex;
			height: 100%;
		}


		.arrows {
			left: 0;
		}
	}

	&-history {

		padding-bottom: 5rem;
		position: relative;

		.about__title {
			margin-bottom: 7.5rem;
		}

		&__item {
			@include center();
			gap: 6.5rem;
			margin-bottom: 6rem;
			min-height: 5rem;

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(2n) {
				flex-direction: row-reverse;

				.about-history {
					&__wrap {
						text-align: left;
						padding-right: 0;
						padding-left: 1rem;

						&::before {
							right: auto;
							left: 0;
						}
					}

					&__year {
						text-align: right;
					}
				}
			}	

			&:first-child {
				padding-top: 1rem;
			}

			&:last-child {
				margin-top: -.8rem;
			}

			&:nth-child(6) {
				padding-top: 0.5rem;
			}

			
		}

		&__wrap {
			width: 25rem;
			text-align: right;
			position: relative;
			padding-right: 1rem;

			&::before {
				@include absoluteCenterY();
				right: 0;
				content: '';
				height: 4.5rem;
				width: 1px;
				background: $green;
			}
		}

		&__text {
			line-height: 150%;

			span {
				color: $green;
			}
		}

		&__name {
			color: $green;
		}

		&__year {
			width: 25rem;
			font-weight: 600;
			color: $green;
			font-size: 1.6rem;
		}

		&__dots {
			display: flex;
			flex-direction: column;
			@include absoluteCenterX();
			top: 12rem;

			span {
				width: .25rem;
				height: .25rem;
				background: $gray;
				margin:  0.38rem 0;
				@include centerInline();
				border-radius: 50%;
				position: relative;


				&:nth-child(9n), &:first-child {
					background: $green;
					margin: 1.4rem 0;

					&::before {
						width: 1.65rem;
						height: 1.65rem;
						@include absoluteCenter();
						content: '';
						border-radius: 50%;
						border: 1px solid $green;
					}
				}

				&:last-child {
					display: none;
				}
			}
		}
	}

	&-management {
		padding-top: 5rem;
		margin-bottom: 7.5rem;

		&__list {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
		}

		&__item {
			width: calc(50% - 1rem);
			overflow: hidden;
			box-shadow: 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
			background: #fff;
			display: flex;
			align-items: center;
			height: 14rem;
		}

		&__img {
			width: 14rem;
			height: 100%;
			flex-shrink: 0;

			img {
				@include fullImg();
			}
		}

		&__wrap {
			padding: 3rem;
		}

		&__name {
			margin-bottom: 2rem;
			color: $green;
			font-size: 1.1rem;
			position: relative;

			&::after {
				content: '';
				width: 10rem;
				height: 1px;
				background: $green;
				left: 0;
				position: absolute;
				bottom: -1rem;
			}
		}

		&__pos {
			color: $gray;
			font-size: 0.8rem;
			min-height: 2rem;
		}
	}
}


//____________SINGLE________

.single {
	padding: 5rem 0;

	.container {
		display: flex;
		align-items: flex-start;
	}

	&-main {
		width: 100%;

		&__date {
			margin-bottom: 1.5rem;
		}

		p {
			line-height: 150%;
			margin-bottom: 1.5rem;
		}

		img, iframe {
			display: block;
			width: 100%;
			margin-bottom: 2.5rem;
			height: 26rem;
			object-fit: cover;
		}

		&__btn {
			height: 3rem;
			width: 16.25rem;
			font-size: 0.8rem;
			border: 1px solid $green;
			@include trans();
		}
	}

	&-side {
		width: 18rem;
		margin-left: 4rem;
		flex-shrink: 0;

		&__title {
			font-size: 1.05rem;
			margin-bottom: 2rem;
			font-weight: 600;
			color: $green;
		}
	}

	&-item {
		margin-bottom: 1.5rem;
		display: block;

		&__img {
			margin-bottom: 1rem;
			width: 100%;
			height: 10rem;

			img {
				@include fullImg();
			}
		}

		&__title {
			color: $green;
			font-size: 0.8rem;
		}
	}

	&-get {
		margin-bottom: 7.5rem;
	}
	
}


//____________FOOTER_________

.footer {
	color: #fff;
	
	&-top {
		background: $gray;
		padding: 5rem 0;
		
		.container {
			display: flex;
			justify-content: space-between;
			gap: 2rem;
		}
	}

	&-col {
		max-width: 20rem;
	}

	&__logo {
		width: 10rem;
		margin-bottom: 4.2rem;

		a {
			display: block;
			width: 100%;

			img {
				display: block;
				width: 100%;
			}
		}
	}

	&-social {
		display: flex;

		li {
			margin-right: 1.3rem;

			a {
				@include centerInline();
				color: #fff;

				&:hover {
					color: $green;
				}

				svg {
					width: 1.5rem;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-item {
		margin-bottom: 1rem;

		&__title {
			font-size: 1.1rem;
			margin-bottom: 0.5rem;
		}

		&__text {
			font-weight: 300;
			min-height: 2.6rem;
			color: #E1E1E1;

			a {
				color: #E1E1E1;

				&:hover {
					color: $green;
				}
			}
		}
	}

	&-arrow {
		@include centerInline();
		flex-direction: column;
		color: rgba(255, 255, 255, 0.7);
		font-size: 0.8rem;
		font-weight: 300;

		svg {
			width: 1.4rem;
			color: $green;
			margin-bottom: 0.2rem;
		}
	}

	&-bot {
		background: $green;
		padding: 1.8rem 0;
		font-size: 0.8rem;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.7);

		.container {
			@include spaced();
		}

		a {
			color: rgba(255, 255, 255, 0.7);

			&:hover {
				color: #fff;
			}
		}
	}

}









//_____________MEDIA QUERY__________








@media (max-width: 2800.98px) {
	:root {
		font-size: 26px;
	}
}

@media (max-width: 2600.98px) {
	:root {
		font-size: 24px;
	}
}

@media (max-width: 2300.98px) {
	:root {
		font-size: 22px;
	}
}


@media (max-width: 2100.98px) {
	:root {
	  font-size: 20px;
	}
}


@media (max-width: 1900.98px) {

	.container {
		padding: 0 12rem;
	}
}


@media (max-width: 1800.98px) {
	:root {
		font-size: 19px;
	}

	.container {
		padding: 0 11rem;
	}

	.header {

		&::before {
			width: 22rem;
		}

		&__logo {
			margin-right: 3rem;
		}
	}

	.chat {
		right: 3.5rem;
	}
}




@media (max-width: 1700.98px) {
	:root {
		font-size: 18px;
	}


	
	.container {
		padding: 0 10rem;
	}

	.header {

		&::before {
			width: 21rem;
		}

		&__logo {
			margin-right: 3rem;
		}
	}
}

@media (max-width: 1600.98px) {
	:root {
		font-size: 17px;
	}

	.container {
		padding: 0 9rem;
	}

	.header {

		&::before {
			width: 20rem;
		}

		&__logo {
			margin-right: 2rem;
		}
	}

	.arrows {
	
		span {
	
			&.arrow-left {
				left: 3rem;
			}
		
			&.arrow-right {
				right: 3rem;
			}
		}
	
	}

	.chat {
		right: 2.5rem;
	}
}


@media (max-width: 1500.98px) {
	:root {
		font-size: 16px;
	}
}


@media (max-width: 1400.98px) {

	:root {
		font-size: 15px;
	}

	.container {
		padding: 0 8rem;
	}

	.header {

		&::before {
			width: 19rem;
		}

	}

}


@media (max-width: 1300.98px) {

	:root {
		font-size: 14px;
	}

}

@media (max-width: 1200.98px) {

	:root {
		font-size: 13px;
	}


	.container {
		padding: 0 7rem;
	}

	.header {

		&::before {
			width: 18rem;
		}

	}
}


@media (max-width: 1100.98px) {

	:root {
		font-size: 12px;
	}

}


@media (max-width: 1000.98px) {

	:root {
		font-size: 11px;
	}

}

@media (max-width: 900.98px) {

	:root {
		font-size: 10px;
	}
}

@media (max-width: 767.98px), (max-width: 1080px) and (orientation: portrait) {
	:root {
		font-size: 16px;
	}

	.container {
		padding: 0 4rem;
	}

	.chat {
		right: 1.5rem;
	}

	.arrows {
	
		span {
	
			&.arrow-left {
				left: 1.5rem;
			}
		
			&.arrow-right {
				right: 1.5rem;
			}
		}
	
	}

	.mobile-menu {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		background: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(15px);

		&__wrap {
			position: relative;
			@include center();
			flex-direction: column;
			height: 100%;
		}

		&__list {
			text-align: center;
			margin-bottom: 3.3rem;

			li {
				margin-bottom: 1.8rem;

				a {
					color: #fff;
					font-size: 1.6rem;

					&.current {
						color: $green;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.submenu {
				div {
					margin-top: 0.5rem;
				}

				a {
					font-size: 0.85rem;
				}
			}
		}

		&__lang {
			display: flex;
			margin-bottom: 3rem;

			a {
				color: #fff;
				font-size: 1.4rem;
				margin-right: 1rem;

				&.current {
					color: $green;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__social {
			display: flex;
			align-items: center;
	
			li {
				margin-right: 1rem;
	
				&:last-child {
					margin-right: 0;
				}
	
				a {
					display: block;
					border-radius: 50%;
					color: #fff;
	
					svg {
						display: block;
						width: 2.2rem;
						height: 2.2rem;
					}
				}
			}
		}

		&__btn {
			width: calc(100% - 2rem);
			left: 1rem;
			height: 3.3rem;
			font-weight: 400;
			font-size: 1.2rem;
			position: absolute;
			bottom: 1rem;

			svg {
				width: 1.7rem;
				margin-right: 0.6rem;
			}
		}
	}

	.page-head {
		height: 30rem;
	}

	.header {

		&::before {
			width: 15rem;
		}

		&-menu {
			display: none;
		}

		&-lang {
			display: none;
		}

		&-wrap {
			display: flex;
		}

		&-mobile {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: .9rem;
			height: 2.1rem;
			width: 3.2rem;
			background: #A3ADB4;
			border-radius: 5rem;
			position: relative;
			margin-left: 1.5rem;

			span {
				height: 2px;
				border-radius: 1px;
				width: 1.4rem;
				margin-bottom: 0.3rem;
				background: $gray;
				@include trans();

				&:nth-child(2) {
					width: 1.2rem;
				}

				&:last-child {
					margin-bottom: 0;
					width: 1rem;
				}
			}

			&.active {
				span {
					width: 1.2rem;
					@include absoluteCenterY();
					right: 1rem;
					transform: rotate(45deg);

					&:nth-child(2) {
						display: none;
					}

					&:last-child {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}

	.main {

		&-item {
			height: 55rem;
		}
	}

	.services {

		&-wrap {
			display: block;
		}

		&-side {
			margin-left: 1rem;
			margin-right: 0;
			position: static;
			float: right;
			margin-bottom: 1.2rem;
		}

		&-main {
			width: 100%;
		}

		.arrows {
			transform: none;
			top: 15rem;
		}

		.container {
			padding-right: 4rem;
		}

		&-item {
			display: block;
			padding: 3rem 0 5rem;

			&__text {
				margin-bottom: 2.5rem;
			}

			&__wrap {
				width: 100%;
				margin-bottom: 4rem;
			}

			&__img {
				width: 100%;
				height: 30rem;
			}
		}

		&-page {
			padding: 5rem 0;
		}

		&-list {

			&__item {
				width: calc(50% - 1rem);
			}
		}
	}

	.advantages {
		padding: 5rem 0;

		&__title {
			margin-bottom: 5rem;
		}

		&-wrap {
			justify-content: space-between;
		}

		&-item {
			width: 48%;
			margin-right: 0;
		}
	}

	.numbers {
		padding-bottom: 4rem;

		&-wrap {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&-item {
			width: 48%;
			margin-bottom: 2rem;
		}
	}

	.projects {

		&-item__img {
			height: 15rem;
		}

		&-page {
			padding: 0 0 5rem;

			.projects-list {
				margin-bottom: 2rem;
			}
		}

		&-nav {
			flex-wrap: nowrap;
			margin-left: -4rem;
			padding: 2.5rem 4rem;
			margin-bottom: 0;
			width: 100vw;
			overflow: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			li {
				width: 20rem;
				flex-shrink: 0
			}
		}
		

	}

	.news {

		&-head {
			@include spaced();
			margin-bottom: 3rem;
		}

		.section-title {
			margin-bottom: 2rem;
		}

		&-choose {
			position: static;
		}
	}

	.how {
		padding: 5rem 0;
	}

	.get {
		display: block;
		padding: 1.5rem 1.5rem 0;

		&__img {
			margin: 0 auto;
		}
	}

	.contact {
		display: block;

		&-main {
			width: 100%;
		}

		&__map {
			width: 100%;
			height: 25rem;
		}
	}


	.about {
		padding: 5rem 0;

		&-info {
			margin-bottom: 5rem;

			.container {
				flex-direction: column;
				gap: 4rem;
			}

			&__img {
				margin-left: 0;

				&::after {
					filter: blur(17px);
				}
			}
		}

		&-history {

			&__dots {
				display: none;
			}

			&__item {
				gap: 2rem;
				margin-bottom: 4.5rem;

				&:first-child {
					padding-top: 0;
				}
	
				&:last-child {
					margin-top: 0;
				}
	
				&:nth-child(6) {
					padding-top: 0;
				}
	
			}
		}

		&-management {
			padding-top: 0;
			margin-bottom: 5rem;

			&__item {
				width: 100%;
			}
		}
	}

	.single {
		.container {
			display: block;
		}

		&-main {
			margin-bottom: 3rem;

			p, img {
				margin-bottom: 2rem;
			}
		}

		&-side {
			margin-left: 0;
			width: 100%;
			
			&__list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}

		&-item {
			width: calc(50% - 1rem);
		}

		&-get {
			margin-bottom: 5rem;
		}
	}


	.footer {

		&-top {
			.container {
				flex-wrap: wrap;
			}
		}

		&-col {
			width: 50%;
			position: relative;

			&:nth-child(1) {
				order: 1;
			}

			&:nth-child(4) {
				order: 2;
			}

			&:nth-child(2) {
				order: 3;
			}

			&:nth-child(3) {
				order: 4;
			}
		}

		&-arrow {
			position: absolute;
			right: 0;
			top: 0;
			margin-top: 0;
		}
	}
}

@media (max-width: 767.98px) {
	:root {
		font-size: 15px;
	}

	.container {
		padding: 0 1.3rem;
	}

	.chat {
		right: 1.3rem;
	}

	.section-title {
		font-size: 2rem;
		margin-bottom: 3rem;
		line-height: 120%;

		&::before {
			width: 8rem;
			bottom: -0.7rem;
		}
	}

	.page-head__title {
		font-size: 2.5rem;

		&-single {
			font-size: 2rem;
		}
	}

	.mobile-menu {
		&__list li {
			margin-bottom: 1.5rem;
	
			a {
				font-size: 1.45rem;
			}
		}

		&__lang a {
			font-size: 1.2rem;
		}
	}

	.feedback-content {
		width: 94vw;
		padding: 1.5rem;
	}

	.header {
		padding: 0.9rem 0;

		&::before {
			width: 10.3rem;
		}

		&-mobile {
			margin-left: 1rem;
		}

		&__tel {
			height: 2.1rem;
			width: 2.1rem;
			@include centerInline();
			border: 1px solid $green;
			border-radius: 50%;

			img {
				margin-right: 0;
			}

			span {
				display: none;
			}
		}
	}

	.main {
		&-item {
			height: 45rem;

			&__title {
				font-size: 2.2rem;
			}
		}
		
		&-btns {
			justify-content: space-between;

			a {
				width: 47%;
			}
		}
	}

	.services {
		padding-bottom: 4rem;
		
		.container {
			padding-right: 1.3rem;
		}

		&-side {
			float: none;
			width: 100%;
			margin-left: 0;
		}

		&-main__content {
			font-size: 1rem;
		}

		.arrows {
			top: auto;
			bottom: 24rem;

			span.arrow-left {
				left: auto;
				right: 5rem;
			}
		}

		&-item {
			padding-bottom: 0;

			&__title {
				font-size: 1.4rem;
				margin-bottom: 1.5rem;
			}

			&__wrap {
				padding: 0 1.3rem;
				margin-bottom: 3rem;
			}

			&__img {
				height: 18rem;
			}
		}

		&-page {
			padding: 4rem 0;
		}

		&-list {
			gap: 1.3rem;

			&__item {
				width: 100%;
			}
		}

	}

	.area {
		padding-bottom: 4rem;

		.arrows {
			display: none;
		}

		.container {
			padding: 0;
		}

		&-item {
			margin-bottom: 1.5rem;

			&__img {
				height: 15rem;
			}

			&__title {
				font-size: 1.1rem;
				height: 5rem;
				margin-top: -2.5rem;
			}
		}

		&-carousel {
			padding: 0 1.3rem;
		}
	}

	.advantages {
		padding: 4rem 0 2.5rem;

		&-item {
			width: 100%;
			margin-bottom: 1.5rem;

			&__title {
				padding: 0;
			}
		}

		&-wrap {
			margin-left: -1.3rem;
			width: 100vw;
			overflow: auto;
			flex-wrap: nowrap;
			padding: 0 1.3rem;
			gap: 1rem;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&-item {
			flex-shrink: 0;
			width: 20rem;
		}
	}

	.numbers {
		padding: 4rem 0 2.5rem;

		&-item {
			width: 100%;
			margin-bottom: 1.5rem;
		}
	}

	.projects {
		padding: 4rem 0;

		.arrows {
			display: none;
		}

		&-head {
			margin-bottom: 5rem;
		}

		&-all {
			right: 50%;
			transform: translateX(50%);
			top: 5rem;
		}

		.container {
			padding: 0;
		}

		&-nav {
			margin-left: -1.3rem;
			padding: 2.5rem 1.3rem;

			li {
				width: 16rem;
			}
		}


		&-item {
			&__img {
				height: 14rem;
				margin-bottom: 1.3rem;
			}

			&__name {
				font-size: 1.1rem;
				line-height: 1.3rem;
				height: 2.6rem;
				margin-bottom: 1.3rem;
			}
		}

		&-faq {
			margin-bottom: 3rem;
			
			&__item {
				padding: 1rem;
			}

		}

		&-page {
			padding: 0 0 4rem;

			.projects-list {
				margin-bottom: 1.5rem;
			}

			.projects-item {
				width: 100%;
				margin-bottom: 2.5rem;
			}
		}
	}

	.get__img {
		width: 100%;
	}

	.how {
		padding: 3.5rem 0;
	}

	.news {
		&-head {
			display: block;
			margin-bottom: 2rem;
		}

		.section-title {
			margin-bottom: 3rem;
		}

		&-item {
			display: block;
			height: auto;
			margin-bottom: 3rem;

			&__img {
				height: 15rem;
				width: 100%;
			}

			&__wrap {
				width: 100%;
				padding: 1.5rem 1.5rem 4.5rem;
			}

			&__title {
				margin-bottom: 1rem;
			}

		}

		&-page {
			padding-bottom: 4rem;
			
			.news-choose {
				margin-bottom: 2.5rem;
			}
		}
		
	}

	.contact {
		&__map {
			height: 22rem;
		}

		&-main .container {
			padding-right: 1.3rem;
		}

		&__title {
			margin-bottom: 1.5rem;
		}

		&-page {
			padding-bottom: 4rem;

			.projects-faq {
				padding: 0;
				margin-bottom: 3rem;
			}
		}

		&-head {
			gap: .75rem;

			li {
				height: 3rem;
				border-radius: .5rem;
				font-size: 0.8rem;
			}
		}

		&__text {
			margin-bottom: 3rem;
		}

		&-form {
			display: block;
			position: relative;

			&__col {
				width: 100%;
				margin-right: 0;

				&:nth-child(2) {
					width: 100%;
				}
			}

			&__file {
				position: absolute;
				bottom: 5rem;
			}

			&__btn {
				margin-top: 5rem;
				width: 100%;
			}
			
		}

		&-done {
			&__title {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			&__wrap {
				width: 80vw;
				padding: 2rem 1.5rem;
			}
		}
	}

	.about {
		padding: 4rem 0;

		&-info {
			.container {
				gap: 3rem;
			}

			&__img {
				width: 100%;
			}

			&__partners {
				margin-bottom: 3rem;
			}

			&__partner {
				width: calc(50% - .5rem);
				height: 7rem;
			}
		}

		&-provider {
			margin-bottom: 1rem;

			.arrows {
				display: none;
			}
		}

		&-history {
			.about__title {
				margin-bottom: 5rem;
			}

			&__list {
				padding: 0 1.3rem;
			}

			&__item {
				gap: 1.3rem;
				flex-direction: column-reverse;

				&:nth-child(2n) {
					flex-direction: column-reverse;
	
					.about-history__year {
						text-align: left;
						padding-left: 1rem;
						padding-right: 0;
					}
				}
			}

			&__wrap {
				width: 100%;

				&::before {
					transform: none;
					top: -2.7rem;
					height: calc(100% + 2.7rem);
				}
			}

			&__year {
				width: 100%;
				text-align: right;
				padding-right: 1rem;
			}


		}

		&-management {
			margin-bottom: 4rem;

			&__list {
				gap: 1.3rem;
			}

			&__item {
				height: 10rem;
			}

			&__img {
				width: 8rem;
			}

			&__wrap {
				padding: 1.3rem;
			}
		}
	}

	.single {
		padding: 2.5rem 0 3rem;
		
		&-main {


			img, p {
				margin-bottom: 1.5rem;
			}

			img {
				height: 50vw;
			}
		}

		&-item {
			margin-bottom: 1.5rem;
			width: calc(50% - .5rem);

			&__img {
				margin-bottom: 0.7rem;
				height: 7rem;
			}

			&__title {
				font-size: 0.8rem;
			}
		}

		&-get {
			margin-bottom: 4rem;
		}
	}

	.footer {

		&-arrow {
			top: 4.3rem;
			right: 2rem;
		}

		&-top {
			padding: 4rem 0 2rem;
			position: relative;

			.container {
				gap: 0;
			}
		}

		&__logo {
			margin-bottom: 3rem;
		}

		&-col {
			width: 100%;
			margin-bottom: 1.5rem;
			max-width: none;
			position: static;
		}
		
		&-item__text {
			max-width: 20rem;
		}
	}
	
}


@media (max-width: 375.98px) {
	:root {
		font-size: 13px;
	}
}


@media (max-width: 340.98px) {
	:root {
		font-size: 12px;
	}
}




@media (max-width: 320.98px) {
	:root {
		font-size: 11px;
	}
}

@media (max-width: 300.98px) {
	:root {
		font-size: 10px;
	}
}



//___________MOBILE-LANDSCAPE________

@media (max-width: 1000px) and (orientation: landscape) {
	:root {
		font-size: 8.5px;
	}
}

@media (max-width: 700px) and (orientation: landscape) {
	:root {
		font-size: 8px;
	}
}

